<div ng-controller="todosController">
  <h2>Add New Appointment</h2>
  <form name="myForm" ng-submit="myForm.$valid && addTodo()">
    <input type='hidden' ng-model='newTodo.created' value='date'>
    <div class='form-group'>
      <label>Patient Name: </label>
      <select class='form-control' ng-model='newTodo.name' required>
        <option value="">--Select Patient Name--</option>
        <option ng-repeat="user in users" ng-bind='user.name' value="{{user.name}}"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Date: </label>
      <input type='date' id="somedate" class='form-control' ng-model='newTodo.app_date' placeholder='select a date' min="2015-06-01" required> </div>
    <div class="form-group">
      <label>Time: </label>
      <!-- <input type='time' class='form-control'  ng-model='newTodo.app_time'> -->
      <select class='form-control' ng-model='newTodo.app_time' required>
        <option value="">--Select Time--</option>
        <option value="8:00 AM">8:00 AM</option>
        <option value="9:00 AM">9:00 AM</option>
        <option value="10:00 AM">10:00 AM</option>
        <option value="11:00 AM">11:00 AM</option>
        <option value="12:00 PM">12:00 PM</option>
        <option value="1:00 PM">1:00 PM</option>
        <option value="2:00 PM">2:00 PM</option>
        <option value="3:00 PM">3:00 PM</option>
        <option value="4:00 PM">4:00 PM</option>
        <option value="5:00 PM">5:00 PM</option>
        <select>
    </div>
    <div class="form-group">
      <label>Reason/Complaint:</label>
      <textarea type='text' class='form-control' ng-model='newTodo.reason' minlength="10" required></textarea>
    </div>
    <div class="form-group">
      <input type='submit' value='Add Appointment' class='pull-right btn btn-primary'>
      <!--  <input type='submit' value='Order' ng-click='addTodo()' class='text-right btn btn-bg btn-primary'> -->
    </div>
  </form>
</div>