    <div ng-controller="usersController"> 
<!--       <div class="row">
        <div class="bg-danger" ng-bind="errors.message">
        </div>
      </div> -->

      <h2>Add a new Patient</h2>
      <form class="form-inline">
	      <div class="form-group">
		      <label>Name: <label>
		      <input class="form-control" type='text' name='name' ng-model='newUser.name' required>
		      <input type='submit' value='Add' ng-click='addUser()' class='btn btn-big btn-primary'>
	    	</div>
	      <input type='hidden' ng-model='newUser.created' value='date'>
	     
      </form>

  		<div class="pull-right form-group"><input class='form-control' type='text' ng-model='filter_name' placeholder='search name...'></div>
			
			<table class='table'>
				<tr>
					<th>Customer Name</th>
					<th>Created Date</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="user in users | filter: filter_name  | orderBy: 'created' ">
					<td ng-bind='user.name'></td>
					<td ng-bind='user.created'></td>
					<td><button ng-click='removeUser(user._id)'>delete</button></td>
				</tr>
			</table>

    </div>