.form-control.chat {
	display: inline-block;
	width: 75%;
}

footer form {
	padding-top: 10px;
}

.chat .list-group-item {
	float: left;
	width: 25%;
	height: 70px;
	margin: 5px;
	padding: 8px;
}

.chats {
	border: 1px solid #ccc;
	padding: 10px;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: red;
}

.even {
	background-color: blue;
}